.field--type-year-range .start-year-wrapper,
.field--type-year-range .end-year-wrapper {
  display: flex;
  align-items: flex-end;
}

.field--type-year-range .start-year-wrapper div,
.field--type-year-range .end-year-wrapper div {
  margin-right: 1em;
}

.field--type-year-range .start-year-wrapper div:last-of-type,
.field--type-year-range .end-year-wrapper div:last-of-type {
  margin-right: 0;
}
