{#
/**
 * @file
 * Default theme implementation of a year range.
 *
 * Available variables:
 * - start: The beginning of the range.
 * - end: The end of the range.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
{{ start }}{% if end %}{{ separator }}{{ end }}{% endif %}
